@mixin btn($border, $background, $color, $box-shadow...) {

    border: $border;
    background: $background;
    color: $color;
    box-shadow: $box-shadow;

}

.btn-base {
    padding: 8px;
    border-radius: 2px;
    line-height: 1;
    font-size: 14px;
}

.btn-primary {
    @extend .btn-base;
    @include btn(1px solid #2e85bf, #3498db, #eee, inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(170,170,170,0.30));
}

.btn-default {
    @extend .btn-base;
    @include btn(1px solid #aaa, #FAFAFA, #7F8C8D, 0 1px 1px rgba(170,170,170,0.30));
}

.btn-group {
    [class*="btn"]:first-child {
        border-radius: 2px 0 0 2px;
    }

    [class*="btn"]:last-child {
        border-radius: 0 2px 2px 0;
    }

    [class*="btn"] {
        border-radius: 0;
    }

    [class*="btn"]:not(:last-child) {
        border-right: none;
    }
}
